body {
   background-color: #D3EBF3;
}
html {
   height: 100%;
}
h1 {
   margin-block-start: 0;
   margin-block-end: 0;
   font-family: Rockwell;
   font-size: 48px;
   font-weight: bold;
}
h2 {
   margin-block-start: 0;
   margin-block-end: 32px;
   font-family: Lusitana;
   font-weight: normal;
   font-size: 24px;
}
h3 {
   margin-block-start: 0;
   margin-block-end: 0;
   font-family: SF Pro Display;
   font-size: 18px;
}
body {
   margin-block-start: 0;
   margin-block-end: 0;
   font-family: Lusitana;
   font-size: 16px;
}
.body-text {
   margin-bottom: 32px;
   width: 350px;
}
.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 32px;
   grid-template-rows: repeat(3, 1fr);
   width: 100vw;
   height: 100vh;
}
.description {
   width: 475px;
   grid-column: 3;
   grid-row: 2;
}
.animal {
   width: 290px;
   grid-column: 2;
   grid-row: 2;
}
.donation {
   width: auto;
   font-family: Rockwell;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   color: #000000;
   background: none;
   border: none;
   text-decoration: underline;
}
.donation:hover {
   text-decoration: none;
}
.conservation-status {
   position: relative;
   top: -150px;
   left: 380px;
   height: 200px;
   width: 142px;
}
p {
   display:inline;
}
.dan-test {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}